<div class="row">


  <div class="col md-6" col-sm-3>
    <mat-tab-group>

      <mat-tab label="Juniors">
        <app-liste (selectedPersonne)="onSelectPersonne($event)" [personnes]="personnes | filterByAge:'junior'"></app-liste>
      </mat-tab>

      <mat-tab label="Seniors">
        <app-liste
          (selectedPersonne)="onSelectPersonne($event)"
          [personnes]="personnes | filterByAge:'senior'"></app-liste>
      </mat-tab>


    </mat-tab-group>

  </div>


  <div class="col md-6" col-sm-9>
<app-detail
  *ngIf="selectedPersonne"
  [personne]="selectedPersonne"></app-detail>
  </div>
</div>
<div *ngIf="embauchees?.length>0" class="row">Les Personnes embauchées
  <app-embauche ></app-embauche>
</div>
