<div class="container my-4">
  <p [ngStyle]="{ 'color': textColor, 'font-size.px': fontSize, 'font-family': fontFamily }">
    Test
  </p>

  <div class="form-group">
    <label for="textColorInput"><i class="fas fa-paint-brush"></i> Couleur du Texte:</label>
    <input id="textColorInput" type="color" class="form-control" [(ngModel)]="textColor"  />
  </div>

  <div class="form-group">
    <label for="fontSizeInput"><i class="fas fa-text-height"></i> Taille de Police:</label>
    <input id="fontSizeInput" type="number" class="form-control" [(ngModel)]="fontSize"  />
  </div>

  <div class="form-group">
    <label for="fontFamilySelect"><i class="fas fa-font"></i> Police:</label>
    <select id="fontFamilySelect" class="form-control" [(ngModel)]="fontFamily" >
      <option value="Arial">Arial</option>
      <option value="Times New Roman">Times New Roman</option>
      <option value="Courier New">Courier New</option>
    </select>
  </div>

</div>


